* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 85%;
  margin: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  /* width: 100%; */
  /* height: 100%; */
}

/*  */
header .container {
  display: flex;
  align-items: center;
  height: 10vh;
}
header .container div:first-child {
  flex: 1;
  display: flex;
}
header .container div:first-child h2 {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 0 15px;
}
header .container div:last-child {
  flex: 1;
  display: flex;
  justify-content: end;
}
header .container ul:nth-child(2) {
  flex: 2;
  display: flex;
  justify-content: space-around;
}
header ul li a {
  font-size: 18px;
  color: darkolivegreen;
}

/* main */

section .container {
  min-height: 80vh;
  display: flex;
  align-items: center;
}
section .content {
  flex: 1;
}
section .img {
  flex: 1;
  display: flex;
  justify-content: center;
}
section .img img {
  height: 60vh;
  min-width: 40vh;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.6));
}
section h1 {
  font-size: 50px;
  font-weight: bold;
  background: linear-gradient(to right, #6060c4, #00d4ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section p {
  font-size: 22px;
  margin-top: 10px;
  color: darkolivegreen;
}
section .btns {
  margin-top: 2rem;
}
section button {
  width: 150px;
  height: 50px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 4px;
  color: #fff;
  font-family: poppins;
  cursor: pointer;
}
section button:first-child {
  background: transparent;
  border: 2px solid #c36cbb;
  color: #c36cbb;
}
section button:last-child {
  border: none;
  background: #c36cbb;
}
.big {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.6;
  height: 80%;
}
.mid {
  position: absolute;
  top: 30%;
  right: 30%;
  z-index: -1;
  opacity: 0.7;
  height: 60%;
}
.small {
  position: absolute;
  top: 50%;
  right: 50%;
  z-index: -1;
  opacity: 0.7;
  height: 60%;
}
