@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
}
a {
  text-decoration: none;
}
.btn {
  display: inline-block;
  text-decoration: none;
  color: var(--clr-text, #fff);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  padding: 0.5em 1.25em;
  background: var(--clr-accent, blue);
  border-radius: 0.25em;
  -webkit-transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms linear, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms linear;
  transition: transform 250ms ease-in-out, opacity 250ms linear,
    -webkit-transform 250ms ease-in-out;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}
header {
  display: block;
  position: relative;
  background: url(./img/shoe-3.png), radial-gradient(#444, #111);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

header .container {
  min-height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header h1 {
  font-size: 4rem;
  font-size: clamp(2rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
  color: #fff;
}
header p {
  color: #fff;
  font-size: 20px;
}

.featured {
  padding-top: 7rem;
  text-align: center;
  background-color: #eee;
}
.featured img {
  width: 100%;
}
.featured h1,
.products h1 {
  text-align: center;
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4rem);
  line-height: 1;
  color: #17353d;
  margin-bottom: 5rem;
}
.split {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
}
.split > * {
  flex-basis: 30%;
  min-width: 240px;
}
.split .featured__item {
  transform: scale(0.85);
  transition: 250ms ease-in-out;
  display: block;
  position: relative;
}
.split .featured__item:hover {
  transform: scale(1);
}
.split .featured__item::after {
  position: absolute;
  content: "";
  top: 10%;
  left: 10%;
  padding: 75% 75% 0 0;
  background: rgb(171, 102, 102);
  border-radius: 50%;
  z-index: -1;
}
.split .featured__item p {
  opacity: 0;
  transition: 250ms ease-in-out;
}
.split .featured__item:hover p {
  opacity: 1;
}
.split .featured__item span {
  font-size: 30px;
  font-weight: 800;
  display: block;
}
.split .featured__item:nth-child(2) p {
  margin-top: 10px;
}
.products {
  padding-top: 7rem;
}
.product {
  padding: 3em;
  background: radial-gradient(var(--clr-inner, orange), var(--clr-outer, red));
  margin-bottom: 3em;
  border-radius: 1em;
  text-align: center;
}
.product img {
  width: 100%;
  margin-top: -dasf5em;
}
.product h3 {
  font-size: clamp(1.5rem, calc(5vw + 1rem), 5.5rem);
  text-transform: uppercase;
  line-height: 1;
  color: #fff;
}
.product p {
  margin: 20px 0;
}

header {
  --clr-accent: #faa700;
}

.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}
@media (min-width: 800px) {
  .product img {
    float: right;
    width: 65%;
    shape-outside: url(./img/shoe-3.png);
    shape-margin: 1em;
    margin: 0 -5em 0 0;
  }
  .product.shoe-left img {
    float: left;
    margin: 0 0 0 -5em;
    shape-outside: url(./img/shoe-2.png);
    shape-margin: 3em;
    width: 65%;
  }

  .product {
    text-align: left;
    margin-bottom: 9em;
  }
  .product h3 {
    margin: 0;
  }
}
