* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}
.hero {
  height: 100vh;
  background-image: url("./images/bg-header-desktop.png");
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

.hero .container {
  padding: 120px 75px;
  text-align: center;
}

.hero img {
  margin-bottom: 2rem;
}
h1 {
  font-size: 2.6rem;
  color: rgb(99, 99, 99);
  line-height: 150%;
}
.hero button {
  padding: 18px 40px;
  font-family: "Ubuntu", sans-serif;
  border-radius: 35px;
  margin: 15px 8px;
  font-size: 18px;
  background-color: lightseagreen;
  border: transparent;
  color: white;
  margin-top: 2rem;
  font-weight: bold;
}

.hero button:hover {
  background-color: rgba(32, 178, 171, 0.808);
  color: rgb(107, 107, 107);
}
.hero .btn:hover {
  background-color: rgba(107, 147, 160, 0.863);
  color: rgb(124, 124, 124);
}

p {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.493);
  line-height: 175%;
}
.hero .btn {
  background-color: rgb(107, 147, 160);
}
.snip .container {
  text-align: center;
}
.snip p {
  margin-top: 20px;
}

@media (max-width: 769px) {
  .hero .container {
    padding: 70px 40px;
  }
  h1 {
    font-size: 2rem;
    width: 80%;
    margin: auto;
  }
  .hero button {
    margin: 10px 0;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .snip p {
    width: 70%;
    margin: auto;
    font-size: 16px;
    line-height: 170%;
  }
}
