* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
}

.container {
  max-width: 1440px;
  margin: auto;
  overflow: hidden;
}
.hero {
  height: 100vh;
  background-image: url("./images/bg-header-desktop.png");
  /* background-position: center; */
  background-size: contain;
  background-repeat: no-repeat;
  font-family: "Ubuntu", sans-serif;
}

.hero .container {
  padding: 75px;
  text-align: center;
}

.hero img {
  margin-bottom: 2rem;
}
.hero h1 {
  font-size: 2.6rem;
  color: rgb(99, 99, 99);
  line-height: 150%;
}
.hero button {
  padding: 8px 30px;
  border-radius: 35px;
  margin: 15px 8px;
  font-size: 18px;
  font-family: "Fasthand", cursive;
  background-color: lightseagreen;
  border: transparent;
  color: white;
}

/* font-family: 'Fasthand', cursive;
font-family: 'Ubuntu', sans-serif; */
