@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* global styles */

.container {
  width: 74%;
  margin: auto;
  height: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
/* re-used styles */
.btn {
  background-image: linear-gradient(
    90deg,
    hsl(201, 92%, 47%) 0%,
    rgb(54, 94, 217) 100%
  );
  padding: 18px 10px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  border-radius: 6px;
  font-weight: bold;
}
h4 {
  color: #365ed9;
  font-weight: 800;
  margin-bottom: 50px;
  text-transform: uppercase;
}
h1 {
  font-size: 75px;
  color: #0e254e;
  font-weight: 900;
}
/* info  */
.info {
  height: 8vh;
  background-color: #0e254e;
}
.info .container {
  height: 100%;
  display: flex;
  align-items: center;
}
.info .container p:last-child {
  margin-left: 20px;
}
.info .container i {
  color: #365ed9;
  font-size: 13px;
}
.info .container p a {
  color: #fff;
  font-size: 16px;
}

/* header */
header {
  position: sticky;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 1rem;
  color: black;
  height: 13vh;
  width: 100%;
  z-index: 10;
  box-shadow: 0 10px 15px hsla(0, 0%, 0%, 0.1);
  background-color: #ffffff;
}

header .container {
  display: grid;
  grid-template-columns: 100px 1fr 200px;
  align-items: center;
  gap: 40px;
  z-index: 4;
}
header .container ul {
  display: flex;
  justify-content: end;
  padding-right: 30px;
}
header .container ul li {
  margin-left: 30px;
}
header .container h1 {
  font-size: 40px;
}
header .container h1 a {
  color: #0e254e;
  font-weight: 900;
}
header .container ul li a {
  color: #0e254e;
  font-size: 16px;
  font-weight: 700;
}
header .container ul li a:hover {
  color: #365ed9;
}

/* hero */

.doctor {
  min-height: 100vh;
  background: url("./images/hero-bg.png");
}
.doctor .container {
  display: grid;
  grid-template-columns: 1fr minmax(430px, 600px);
  align-items: center;
}

.about .container {
  grid-template-columns: minmax(430px, 450px) 1fr;
  gap: 80px;
}
.doctor .container .img img {
  width: 100%;
}
.doctor .container .text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.doctor .container .text p {
  margin-top: 50px;
  color: #787878;
  line-height: 145%;
  font-size: 19px;
  margin-bottom: 30px;
}
.doctor .container form {
  border: none;
  background-color: #ffffff;
  border-radius: 6px;
  padding: 20px 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .container form {
  border: none;
  background-color: transparent;
  border-radius: 0;
  padding: 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.doctor .container form input {
  margin: 0;
  height: 60px;
  max-width: 400px;
  height: 60px;
  max-width: 400px;
  padding: 4px 10px;
  border: none;
  background-color: rgb(247, 247, 247);
}
.doctor .container form button {
  margin: 0;
  padding: 4px 10px;
  height: 60px;
  width: 150px;
}
.doctor .container form input,
.doctor .container form button {
  float: left;
}

/* servies */
.services {
  margin-top: 100px;
  margin-bottom: 70px;
}
.services .top {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .top h4 {
  margin-bottom: 10px;
  font-size: 30px;
}
.services .top h1 {
  margin-top: 0;
}

.services .img {
  background: url("./images/service-banner.png") no-repeat center;
  height: 600px;
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}
.services .img p {
  max-width: 200px;
}
.services .img .part1 {
  display: grid;
  gap: 30px;
  justify-content: flex-start;
}
.services .img .part2 {
  display: grid;
  justify-content: flex-end;
  gap: 30px;
}
.services .img .part2 > div,
.services .img .part1 > div {
  display: flex;
  gap: 30px;
  border: 1px #0e254e37 solid;
  align-items: flex-start;
  padding: 35px 30px;
}
.services .img .part2 > div img,
.services .img .part1 > div img {
  width: 50px;
  height: 50px;
}
.services .img h2 {
  font-size: 23px;
  margin-bottom: 20px;
  font-style: normal;
  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: bold;
}
.services .img p {
  font-size: 18px;
  color: #787878;
}
/* about */

.about {
  padding: 60px 0;
}
.about h4 {
  margin-bottom: 10px;
}
.about .container .text p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
/* media query */
@media (max-width: 1050px) {
  header .container ul {
    display: none;
  }
  .doctor {
    padding-top: 40px;
  }
  .doctor .container {
    grid-template-columns: 0.9fr minmax(300px, 600px);
  }
  .doctor .container .text h1 {
    font-size: 50px;
  }
  .doctor .container .text p {
    font-size: 18px;
    max-width: 300px;
  }
  .doctor .container form input {
    max-width: 200px;
  }
  .doctor .container form button {
    float: left;
  }
}
@media (max-width: 850px) {
  .doctor .container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    overflow-y: hidden;
    width: 90%;
  }
  .services .img {
    background: none;
    justify-content: center;
    align-items: center;
  }
  .services .img {
    grid-template-columns: 1fr;
  }
  .doctor .container .text p {
    display: none;
  }
  .doctor .container .img {
    margin: auto;
  }
  .doctor .container .img img {
    width: 100%;
    max-width: 300px;
  }
}
