@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*, ::after , ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}
section{
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    text-transform: uppercase;
    position: relative;
}

.section-inner{
    position: absolute;
    bottom: 200px;
    left: 150px;
    max-width: 560px;

}

.section-inner h4{
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 10px;
    animation: fadeInUp 0.5s ease-in-out;
}

.section-inner h2{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    animation: fadeInUp 0.5s ease-in-out 0.2s;
    animation-fill-mode: both;
}
.btn{
    padding: 15px 47px;
    border: 2px white solid;
    font-size: 20px;
    position: relative;
    overflow: hidden;
   display: inline-block;
    z-index: 2;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    min-width: 130px;
    text-transform: uppercase; 
   
}
.section-inner a{
    animation: fadeInUp 0.5s ease-in-out 0.4s;
    animation-fill-mode: both;

}
.btn:hover span{
    color: black;
}
.btn::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    transform: translateY(100%);
    transition: transform 0.5s 
    cubic-bezier(0.075, 0.82, 0.165, 1)  ;
  z-index: -1;
}
.btn:hover::after{
    transform: translateY(0);
}
.scroll-arrow{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: BounceFade 3s infinite;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    height: 100px;
    padding: 0 30px;
}


.logo {
    width: 210px;
    height: auto;
  }
  
  .logo img {
    display: block;
    width: 100%;
    height: auto;
  }
.desktop-menu{
    margin-right: 50px;
}
.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li {
    margin-right: 20px;
    position: relative;
    padding-bottom: 2px;
   
}
.desktop-menu ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: lightskyblue;
    transform: scaleX(0);
    transition: transform 0.5s 
    cubic-bezier(0.075, 0.82, 0.165, 1)  ;
    transform-origin: right;
}
.desktop-menu ul li:hover::after{
    transform: scale(1);
    transform-origin: left;
}

/* section a */
.section-a{
    background-image: url('./img/section-a.webp');
}
.section-b{
    background-image: url('./img/section-b.webp');
}





/* animation */

@keyframes fadeInUp {
    0%{
        opacity: 0;
        transform: translateY(140px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes BounceFade{
    0%,
    20%,
    40%,
    70%,
    95%,
    100%{
        opacity: 0;
        transform: translateY(-20px);
    }
    50%,
    60%{
        opacity: 1;
        transform: translateY(0px);
    }
}