@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*, ::after , ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}

/* header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0  30px;
}

.logo{
    width: 210px;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}