@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:wght@400;600;700&display=swap');

*, ::after , ::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Familjen Grotesk', sans-serif;
    background: #000;
    color: #fff;
}
a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
}

/* header */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0  30px;
    text-transform: uppercase;
}

.logo{
    width: 210px;
    height: auto;
}
.logo img{
    width: 100%;
    height: auto;
}

.desktop-menu ul{
    display: flex;
}

.desktop-menu ul li {
    margin: 0 20px;
}