*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* globl styles */
body{
    font-family: sans-serif;
}
.container{
    width: 90%;
    margin: auto;
}
img{
    width: 100%;
} 
a{
    text-decoration: none;
}
ul{
    list-style: none;
}

/* header */
header{
    height: 10vh;
    width: 100%;
}
header .container {
    display: flex;
    align-items: center;
    height: 100%;
}
header .container img{
    width: 120px;
    margin-right: 40px;
}
header .container ul{
    display: flex;
    margin: 0 10px;
}
header .container ul li{
    padding-right: 20px;
}
header .container ul:last-child{
  margin-left: auto;
}
header .container a{
    font-size: 16px;
    color: #000;
    font-weight: 500;
    padding-bottom: 2px;
}
header .container a:hover{
    border-bottom: 3px solid #000; 
}

/* header-two */

.header-two{
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #950c17;
}
.header-two a{
    font-size: 20px;
    color: #fff;
    
}
.header-two a:hover{
    text-decoration: underline;
}

/* hero */

.hero{
    background: url('./img/hero.jpg') no-repeat center center / cover;
    height: 85vh;
    border-bottom: 4px dashed #000;
}
.hero .container{
    align-items: flex-start;
    height: 100%;
    padding-top: 150px;
}
.hero .container p:first-child{
    margin-bottom: 20px;
    padding: 6px 12px;
    background-color: #fff;
    font-weight: 600;
    color: #950c17;
    font-size: 18px;
    letter-spacing: 1.50px;
}
.hero .container h2{
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 30px;
}
.p2{
    font-size: 20px;
    width: 400px;
    text-align: start;
    line-height: 140%;
    margin-bottom: 20px;
}
.btns button:first-child{
    padding: 10px 22px;
    background-color: #000;
    color: #FFF;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
    cursor:pointer;
}
.btns button:last-child{
    cursor:pointer;
    background-color: transparent;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding-bottom: 3px
}
.btns button:last-child span{
    font-size: 20px;
    text-align: center;
}
.btns button:last-child:hover{
    text-decoration: underline;
}
.btns button:last-child:hover span{
    text-decoration: none;
    margin-left: 5px;
}