* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* globl styles */
body {
  font-family: sans-serif;
}
.container {
  width: 90%;
  margin: auto;
}
img {
  width: 100%;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.menu {
  display: none;
}
.menu-item {
  display: none;
}
/* header */
header {
  height: 10vh;
  width: 100%;
}
header .container {
  display: flex;
  align-items: center;
  height: 100%;
}
header .container img {
  width: 120px;
  margin-right: 40px;
}
header .container ul {
  display: flex;
  margin: 0 10px;
}
header .container ul li {
  padding-right: 10px;
}
header .container ul:last-child {
  margin-left: auto;
}
header .container a {
  font-size: 12px;
  color: #000;
  font-weight: 500;
  padding-bottom: 2px;
}
header .container a:hover {
  border-bottom: 3px solid #000;
}

/* header-two */

.header-two {
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #950c17;
}
.header-two a {
  font-size: 20px;
  color: #fff;
}
.header-two a:hover {
  text-decoration: underline;
}

/* hero */

.hero {
  background: url("./img/hero.jpg") no-repeat center center / cover;
  height: 65vh;
  border-bottom: 4px dashed #000;
}
.hero .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 100px;
}
.hero .container p:first-child {
  margin-bottom: 20px;
  padding: 6px 12px;
  background-color: #fff;
  font-weight: 600;
  color: #950c17;
  font-size: 18px;
  letter-spacing: 1.5px;
  text-align: start;
}
.hero .container h2 {
  font-size: 50px;
  margin-bottom: 30px;
}
.p2 {
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 400px;
  text-align: start;
  line-height: 140%;
  margin-bottom: 20px;
}
.btns button:first-child {
  padding: 10px 22px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
  cursor: pointer;
}
.btns button:last-child {
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-weight: bold;
  border: none;
  padding-bottom: 3px;
}
.btns button:last-child span {
  font-size: 20px;
  text-align: center;
}
.btns button:last-child:hover {
  text-decoration: underline;
}
.btns button:last-child:hover span {
  text-decoration: none;
  margin-left: 5px;
}
.hero-small {
  display: none;
}

/* all */

.all {
  padding: 100px 0;
}
.all img {
  width: 40px;
}
.all .container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.all .container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.all .container > div a {
  text-decoration: underline;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
}

/* SERIES */

.series .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
}
.series .container > div h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 23px;
}
.series .container > div p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  line-height: 150%;
}

.series .container > div a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 20px;
  color: #950c17;
  display: block;
  font-weight: bold;
}

.series .container > div a:hover {
  text-decoration: underline;
}
.Business > h1 {
  font-size: 40px;
  width: 90%;
  margin: auto;
  margin-bottom: 30px;
}

/* gift */
.gift {
  margin: 50px 0;
  height: 550px;
  margin-bottom: 150px;
}
.gift .container {
  background: url("./img/headphones.avif") center center/cover;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 100px;
}
.gift .container h2 {
  font-size: 60px;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.gift .container p {
  font-size: 18px;
  width: 400px;
  line-height: 150%;
  margin-bottom: 30px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.gift .container button {
  max-width: 300px;
  background-color: #000;
  color: #fff;
  padding: 12px 25px;
  margin-bottom: 20px;
}
.gift .container a {
  color: #000;
  font-weight: bold;
}

/* media queries */
@media (max-width: 1024px) {
  .series .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero {
    background: url("./img/hero-2.avif") no-repeat center center/cover;
    border: none;
  }
  .hero {
    position: relative;
  }
  .p2 {
    width: 100%;
  }
  .hero .container {
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 30px;
    transform: translateY(90%);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
    padding: 20px 70px;
  }
  .hero .container h2 {
    margin-bottom: 20px;
  }
  .all {
    margin-top: 350px;
  }
  header .container ul {
    display: none;
  }
  header .container {
    align-items: center;
    justify-content: center;
  }
  .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    background-color: #f2f2f2;
    height: 100vh;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(-100%);
    /* transform: translateX(0); */
  }
  .menu ul li {
    padding: 15px 0;
    border-bottom: #000 dotted 1px;
  }
}
.menu ul li a {
  color: #000;
  font-weight: bold;
  transition: margin 0.3s ease-in-out;
}
.menu ul li a:hover {
  margin-left: 8px;
  color: #950c17;
}
.menu-item {
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 4;
  background-color: #950c17;
  width: 10px;
  height: 4px;
}
.menu-item > div {
  height: 2px;
  width: 10px;
  z-index: 5;
}
.scroll-of {
  overflow-y: hidden;
}
@media (max-width: 768px) {
  .hero .container {
    padding: 20px 20px;
  }
  .hero .container h2 {
    margin-bottom: 5px;
    font-size: 40px;
  }
  .p2 {
    width: 100%;
    font-size: 18px;
  }
}
@media (max-width: 550px) {
  .series .container {
    grid-template-columns: 1fr;
  }
}
