:root {
  --section-padding: 60px;
  --ff-spartan: "League Spartan", sans-serif;
  --shadow-1: 0 2px 25px hsla(0, 0%, 0%, 0.1);
  --shadow-2: 0 8px 14px hsla(0, 0%, 0%, 0.1);
  --shadow-3: 0 14px 30px hsla(0, 0%, 0%, 0.05);

  --radius-6: 6px;
  --radius-12: 12px;

  --gradient-1: linear-gradient(
    to right,
    var(--winter-sky),
    var(--dark-orange)
  );
  --gradient-2: linear-gradient(
    to right,
    var(--ultramarine),
    var(--blue-violet)
  );
  --gradient-3: linear-gradient(
    to right,
    var(--winter-sky),
    var(--dark-orange)
  );
  --gradient-4: linear-gradient(
    to right,
    var(--ultramarine),
    var(--blue-violet)
  );
  --gradient-5: linear-gradient(
    to right,
    var(--persian-green),
    var(--spring-green)
  );
  --gradient-6: linear-gradient(
    to right,
    var(--spanish-orange),
    var(--gold-web-golden)
  );

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
}

body {
  font-family: var(--ff-spartan);
}
.container {
  max-width: 1100px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: visible;
  height: 100%;
}
body {
  overflow-x: hidden;
}
img {
  width: 100%;
  display: block;
}
/* header */

header {
  height: 11vh;
  background-color: var(--dark-color);
  box-shadow: var(--shadow-1);
  display: block;
  color: white;
}
header ul {
  gap: 30px;
}
header ul a {
  color: white;
  font-size: 25px;
  font-weight: 500;
}
header button {
  background-image: var(--gradient-1);
  font-size: 20px;
  color: white;
  font-weight: bold;
}
/* */
/*  */
/*  */
/* 

/* solutions */
.solutions .container {
  padding-bottom: 2rem;
}
.solutions .grid {
  gap: 50px;
}
.solutions .items {
  padding: 0;
  border-radius: var(--radius-12);
  box-shadow: var(--shadow-1);
}
.solutions .items img {
  border-radius: var(--radius-12);
}
.solutions h2 {
  font-size: 33px;
  margin: 1rem 0;
}

.solutions p {
  font-size: 1.2rem;
  color: var(--granite-gray);
}
.solutions h1 {
  font-weight: 800;
  font-size: 3.5rem;
}
.solutions .grid {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.solutions .w-5 {
  max-width: 800px;
  margin: 0.5rem auto;
  margin-bottom: 3rem;
}
.solutions a {
  font-size: 28px;
  color: var(--ultramarine);
  transition: var(--transition-1);
}
.solutions a:hover,
.solutions a:hover span i {
  font-weight: bold;
}
.solutions .span {
  margin-bottom: 20px;
}
.span i {
  margin-left: 10px;
  color: var(--ultramarine);
  animation: swipeLeft 5s ease infinite;
}
/*  */

/* .features */
.features {
  padding: 0 0 4rem 0;
}
.features .container {
  grid-template-columns: 1fr max-content;
  gap: 70px;
}
.features .banner-wrapper {
  position: relative;
  overflow: visible;
}
.features .banner-wrapper .two {
  width: 450px;
  aspect-ratio: 1/1;
  position: relative;
  bottom: 150px;
  margin-left: auto;
  aspect-ratio: auto 436 / 311;
}
.features .banner-wrapper .two img {
  border-radius: var(--radius-12);
}
.features .banner-wrapper .one img {
  border-radius: var(--radius-12);
}
.icons img {
  width: 40px;
}
.icons .card {
  padding: 20px;
  margin: 0 0 20px;
  box-shadow: var(--shadow-1);
}
.icons h3 {
  font-size: 18px;
  margin-left: 20px;
}
.features .text h1 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.features .text p {
  color: var(--granite-gray);
}
.features .text .icons h3 {
  color: var(--ultramarine);
}
/*  */

/* about-card-3 */
.about .grid {
  gap: 40px;
  color: #fff;
}
.about-card-1 {
  background-image: var(--gradient-3);
}
.about-card-2 {
  background-image: var(--gradient-4);
}
.about-card-3 {
  background-image: var(--gradient-5);
}
.about-card-4 {
  background-image: var(--gradient-6);
}
.about-card {
  border-radius: var(--radius-12);
  gap: 20px;
  height: auto;
}
.about-card .card-banner {
  min-width: 150px;
  aspect-ratio: 1/1;
  background-color: hsla(0, 0%, 100%, 0.5);
  border-radius: 50%;
}
/* stats */
.stats {
  background-color: var(--cultured-2);
}
.stats-list .stats-item:not(:last-child) {
  margin-bottom: 1rem;
}
.stats-list .stats-item {
  padding-left: 1rem;
  border-left: 2.5px solid;
  box-shadow: var(--shadow-2);
  width: 350px;
  /* min-width: 350px; */
}
.stats-list .stats-item span {
  font-size: 16px;
  color: var(--granite-gray);
  font-weight: 500;
}
.stats-item .item-title {
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
}
.stats-list .stats-text {
  margin: 0;
}
.stats-list .purple {
  border-color: blue;
}
.stats-list .red {
  border-color: red;
  transform: translateX(6rem);
}
.stats-list .green {
  border-color: green;
}
.stats-list .yellow {
  transform: translateX(6rem);
  border-color: yellow;
}
.stats img {
  width: 100%;
  height: auto;
}
/* app */
.app .grid {
  grid-template-columns: 2fr 3fr;
  gap: 40px;
}
.app .btn-group {
  gap: 30px;
}
.app .btn-group * {
  padding: 0;
}
.app .btn-group img {
  width: auto;
}
.app .btn {
  padding: 10px 30px;
  gap: 10px;
  font-size: 16px;
  color: #fff;
}
.app .md {
  font-weight: 800;
}
.app .section-text {
  color: var(--granite-gray);
}
.app .btn.btn-primar {
  background-image: var(--gradient-1);
}
.app .btn.btn-secondar {
  background-image: var(--gradient-2);
}
@media (max-width: 1110px) {
  .container {
    max-width: 960px;
  }
  .features .grid {
    grid-template-columns: 1fr 1fr;
  }
  .app .grid {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .app .app-content {
    text-align: center;
  }
  .features .banner-wrapper .two {
    width: 400px;
    bottom: 50px;
    right: -50px;
  }
  .features .text h1 {
    font-size: 1.5rem;
  }
  .about-card {
    flex-direction: column;
    background-color: white;
    display: none;
    text-align: center;
  }
}
@media (max-width: 992px) {
  .container {
    max-width: 780px;
  }
  .hero .container {
    grid-template-columns: 1fr;
    padding-top: 5rem;
  }
  header ul {
    position: absolute;
    visibility: hidden;
    display: none;
  }
  .solutions {
    margin-top: 10rem;
  }
  .solutions h1 {
    font-size: 2rem;
  }
  .features .grid {
    grid-template-columns: 1fr;
  }
  .stats .grid {
    grid-template-columns: 1fr;
  }
  .stats .stats-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
  .stats-list .stats-item {
    transform: translate(0);
    width: auto;
  }
  .stats-item .stats-text {
    font-size: 15px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 540px;
    /* margin-inline: auto; */
  }
  .about .grid {
    grid-template-columns: 1fr;
  }
  .features .banner-wrapper .two {
    width: 100%;
    margin-top: 50px;
    bottom: 0px;
    right: 0px;
  }
  .app .app-banner img {
    height: auto;
  }
}

/* app */

@media (max-width: 575px) {
  .container {
    max-width: 95%;
  }

  .features .banner-wrapper img {
    height: auto;
  }
  .app .btn-group {
    flex-direction: column;
  }
}

@keyframes swipeLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  15% {
    opacity: 0;
    transform: translateX(-100%);
  }
  30% {
    opacity: 1;
    transform: none;
  }
  45% {
    opacity: 1;
    transform: none;
  }
  90% {
    opacity: 1;
    transform: none;
  }
  100% {
    opacity: 1;
    transform: none;
  }
}
