@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap");
:root {
  --mainColor: #64bcf4;
  --hoverColor: #5bacdf;
  --backgroundColor: #f1f8fc;
  --darkOne: #312f3a;
  --darkTwo: #45424b;
  --lightOne: #919191;
  --lightTwo: #aaa;
  --mainColor: #64bcf4;
  --hoverColor: #242a2d;
  --backgroundColor: #192e3a;
  --darkOne: #f3f3f3;
  --darkTwo: #fff;
  --lightOne: #ccc;
  --lightTwo: #e7e3e3;
}
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.wrapper {
  overflow: hidden;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.btn {
  padding: 0.6rem 1.6rem;
  background-color: var(--mainColor);
  border-radius: 8px;
  color: #fff;
}

/* header */
header {
  background-color: transparent;
}
header .container {
  padding: 1rem 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  display: flex;
}
header img {
  width: 40px;
}
header ul {
  display: flex;
}
header ul li a {
  font-size: 18px;
  margin-left: 1.7rem;
}
header ul .btn {
  padding: 0.6rem 1.6rem;
  background-color: var(--mainColor);
  border-radius: 8px;
}
