@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  /* scroll-behavior: smooth; */
}
:root {
  --primary-color: #b90415;
  --primary-color-hover: #d3071b;
  --secondary-color: #103063;
  --secondary-color-hover: #143f85;
  --light-color: #f4f4f4;
}
body {
  font-family: "PT Sans", sans-serif;
  background-color: #252529;
  line-height: 1.6;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1180px;
  text-align: center;
  margin: 0 auto;
  padding: 0 3rem;
}

/* header */

nav {
  height: 40px;
  width: 100%;
  background-color: #333;
  color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  float: left;
}
nav a {
  display: inline-block;
  width: 100px;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
  color: #eee;
  text-decoration: none;
}
nav li:hover {
  background-color: #444;
}
nav a#openup {
  display: none;
}

/* main */
main {
  height: 100vh;
  text-align: center;
  background: url("./img/showcase.jpg") no-repeat center center / cover;
  color: #eeeeee;
  position: relative;
  overflow-y: hidden;
}
main .container {
  margin-top: 25vh;
}
.lead {
  margin: 0 auto;
  font-size: 1.3rem;
}
main h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
main h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

/* music */
.music {
  color: #fff;
  padding: 2rem 0;
}
.music .container {
  /* margin-top: 3rem; */
}
.music .container .lead {
  margin: 1rem 0;
}
.music .container h1 {
  font-size: 2.5rem;
  margin: 0;
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
}
.music .container h2 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
}

.music .container button {
  width: 200px;
  margin: 1rem 0;
  height: 70px;
  background-color: #b90415;
  color: white;
  border: none;
}
.music .container img {
  width: 100%;
  height: 100%;
}
/* videos */
.videos {
  background-color: #eee;
  color: #252529;
  padding-top: 3rem;
}
.videos .container h2 {
  font-size: 1.9rem;
  font-weight: bold;
}
.videos .container button {
  background-color: var(--secondary-color);
  width: 150px;
  height: 70px;
}

.entertaiment {
  padding: 10rem 0;
  background: url("./img/section-bg.jpg") no-repeat bottom / cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.entertaiment .container h3 {
  font-size: 2.3rem;
}
.entertaiment .container p {
  font-size: 1.2rem;
  margin-top: 2rem;
}
@media screen and (max-width: 580px) {
  .music .container .lead {
    font-size: 20px;
  }
  .hide-on-small {
    display: none;
  }
  .entertaiment .container h3 {
    font-size: 1.5rem;
    text-align: start;
  }
  .entertaiment .container p {
    text-align: start;
    font-size: 0.7rem;
    margin-top: 2rem;
  }
  main {
    height: 50vh;
  }
  main .container {
    margin-top: 15vh;
  }
  main h1 {
    font-size: 3rem;
  }
  main h2 {
    font-size: 1.5rem;
  }
  nav {
    height: auto;
    border-bottom: 0;
  }
  nav ul {
    display: none;
    height: auto;
  }
  nav li {
    width: 100%;
    float: left;
    position: relative;
  }
  nav a {
    text-align: left;
    width: 100%;
    text-indent: 25px;
    background: #333;
    border-bottom: 1px solid #555;
  }
  nav a:hover {
    background: #444;
  }
  nav a#openup:after {
    content: "|||";
    transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    /* IE 9 */
    -webkit-transform: rotate(-90deg);
    /* Safari and Chrome */
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    right: 5px;
    top: 20px;
  }
  nav a#openup {
    display: block;
    background-color: #333;
    width: 100%;
    position: relative;
  }
}
.cf:before,
.cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  zoom: 1;
}
