:root{
  --battleship-gray: hsl(0, 0%, 53%);
--viridian-green: hsl(180, 98%, 31%);
--silver-chalice: hsl(0, 0%, 69%);
--mikado-yellow: hsl(47, 98%, 50%);
--granite-gray: hsl(0, 0%, 40%);
--independence: hsl(219, 20%, 32%);
--spanish-gray: hsl(0, 0%, 61%);
--oxford-blue: hsl(222, 46%, 17%);
--black-coral: hsl(223, 8%, 44%);
--eerie-black: hsl(210, 11%, 15%);
--light-gray: hsl(0, 0%, 80%);
--white-2: hsl(0, 0%, 98%);
--white-1: hsl(0, 0%, 100%);
--black: hsl(0, 0%, 0%);
--jet: hsl(0, 0%, 20%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family:  'Heebo', sans-serif;
}
ul{
  list-style: none;
  display: flex;
}
a{
  text-decoration: none;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.btn{
  padding: 13px 16px;
  background-color: var(--white-2);
  border: none;
  border-radius: 4px;
  color: var(--viridian-green);
  font-size: 16px;
  border: 1px solid var(--white-1);
  font-weight: bold;
  transition: background-color 0.5s;
}
.btn:hover{
  color: var(--white-1);
  background-color: transparent;
}
/* header */
header{
  height: 10vh;
  background-color: var(--viridian-green); 
  position: relative; 
  overflow: hidden;
}
header .container{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white-1);
}
header  ul {
  flex: 1;
  margin: 0 6rem;
  justify-content: space-between;
}
header ul a {
  color: inherit;
  font-size: 20px;
  font-weight: bold;
  transition: border-bottom 0.3s ease-in-out;
}
header ul a:hover{
 border-bottom: 2px solid white;
}



@media (max-width: 1110px) {
  .container {
    max-width: 960px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 780px;
  }
  header.active{
    background-color: var(--independence);
    height: 18rem;
    padding-top: 20px;
  }
  header.active .container{
    height: fit-content;
  }
  header ul {
    position:absolute;
    flex-direction: column;
    top:80px;
    left: -30px;
  }
  /* header.active ul {
    top:80px;
    left: -30px;
  } */
  header ul li {
    margin: 5px 0;
  }
  header ul a{
    color: red;
  }
}