@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
/* navbar */
nav {
  height: 70px;
  background: var(--primary-color);
  color: white;
}
nav .container {
  justify-content: space-between;
}
nav ul li a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}
nav ul li a:hover {
  border-bottom: 2px solid white;
}
main {
  height: 400px;
  background: var(--primary-color);
  color: white;
  position: relative;
}
main .container {
  grid-template-columns: 55% auto;
  overflow: visible;
  gap: 30px;
}
.text h1 {
  font-size: 40px;
}
.text p {
  margin: 20px 0;
}
.container .card {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: fle ffx-end;
}
.container .card .form-control {
  margin: 28px 0;
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
}
.form-control input[type="text"],
.form-control input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.showcase-form input:focus {
  outline: none;
}

main::before,
main::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
