@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --primary-color: #047aed;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4;
  --success-color: #5cb85c;
  --error-color: #d9534f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Lato", sans-serif;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}
/* navbar */
nav {
  height: 70px;
  background: var(--primary-color);
  color: white;
}
nav .container {
  justify-content: space-between;
}
nav ul li a {
  color: white;
  padding: 10px;
  margin: 0 5px;
}
nav ul li a:hover {
  border-bottom: 2px solid white;
}
main {
  height: 400px;
  background: var(--primary-color);
  color: white;
  position: relative;
}
main .container {
  grid-template-columns: 55% auto;
  overflow: visible;
  gap: 30px;
}
.text h1 {
  font-size: 40px;
}
.text p {
  margin: 20px 0;
}
.container .showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 300px;
  max-width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: fle ffx-end;
}
.container .card .form-control {
  margin: 28px 0;
  width: 100%;
  border-bottom: 0.8px solid rgba(0, 0, 0, 0.2);
}
.form-control input[type="text"],
.form-control input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}
.showcase-form input:focus {
  outline: none;
}

main::before,
main::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
}
/* stats */
.stats {
  margin-top: 100px;
}
.stats h3 {
  max-width: 500px;
  margin: auto;
}
.stats .stats-under h3 {
  font-size: 35px;
}
.stats .grid p {
  font-size: 20px;
  font-weight: bold;
  color: var(--secondary-color);
  margin: 10px 0;
}
/* cli */
.cli .container {
  grid-template-rows: repeat(2, 1fr);
}
.cli .container img {
  grid-column: 1 / span 2;
}
.cli .container img {
  grid-row: 1 / span 2;
}
/* cloud */
.cloud {
  color: white;
  padding-bottom: 1rem;
}
/* languages */
.languages .flex {
  flex-wrap: wrap;
}
.languages .flex > div:hover {
  transform: translateY(-20px);
}
.languages .card {
  transition: transform 0.3s ease-in;
  margin: 18px 10px 40px;
}
.languages .card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
footer .social a {
  margin: 0 10px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
